@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  font-family: Poppins;
}

.container {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.logo-buangin {
  width: 105px;
  height: 32px;
}

body {
  background-color: #016a70;
}

.section {
  background-color: #016a70;
}
.nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

.nav-row {
  padding: 15px;
  display: flex;
  width: 1424px;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #393e46;
}

.active {
  color: #016a70;
  font-weight: 600;
}

.col-row {
  display: flex;
  justify-content: space-evenly;
}

.col-logout {
  display: flex;
  justify-content: flex-end;
}

.img-profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.user-img {
  height: 60px;
}

.welcome {
  font-weight: 600;
}

.logo-logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.logo-out {
  width: 36px;
  height: 36px;
}

.button-detail {
  display: flex;
  padding: 8px 20px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid var(--White, #fff);
  background-color: #016a70;
}

.satu {
  display: flex;
  width: 505px;
  height: 488px;
}

.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-font {
  color: white;
}

.cream-fonts {
  color: var(--Cream, #ffd);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#folks {
  font-size: 28px;
}

#lorem {
  font-size: 16px;
}

.container_2 {
  background-color: #ffff;
  padding: 74px;
}

.col-info {
  display: flex;
  justify-content: space-evenly;
}

.info-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 167px;
  font-weight: lighter;
}

.cats {
}
