@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  font-family: Poppins;
}

.container {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.logo-buangin {
  width: 105px;
  height: 32px;
}

.green {
  background-color: #016a70;
}

body {
  background-color: #016a70;
}

.section {
  background-color: #016a70;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(134, 110, 110);
  border-radius: 20px;
}

.nav-row {
  padding: 15px;
  display: flex;
  width: 1424px;
  align-items: center;
  border-radius: 20px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: #393e46;
}

.active {
  color: #016a70;
  font-weight: 600;
}

.col-row {
  display: flex;
  justify-content: space-evenly;
}

.col-logout {
  display: flex;
  justify-content: flex-end;
}

.img-profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.user-img {
  height: 60px;
}

.welcome {
  font-weight: 600;
}

.logo-logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

.logo-out {
  width: 36px;
  height: 36px;
}

.button-detail {
  display: flex;
  padding: 8px 20px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid var(--White, #fff);
  background-color: #016a70;
}

.about {
  width: 458px;
  height: 621px;
  display: flex;
  margin: auto;
  margin-bottom: 60px;
}

.about2 {
  width: 458px;
  height: 621px;
  display: flex;
  margin: auto;
}

.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.white-font {
  color: white;
}

.green-font {
  color: #016a70;
}

.green-fonts {
  color: #016a70;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cream-fonts {
  color: var(--Cream, #ffd);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#folks {
  font-size: 28px;
}

#lorem {
  font-size: 16px;
}

.container2 {
  background-color: #ffffff;
  padding: 100px;
}
